body {
    text-decoration: none;
}

h1 {
    font-family: Georgia;
}

.contacts {
    display: flex;
    flex-direction: row;
}

.logout, .other {
    margin: 10px;
    text-decoration: none;
    color: hotpink;
}

.username, .telephone {
    margin: 10px;
}

input[type=text], input[type=password] {
    padding: 6px 10px;
    box-sizing: border-box;
    margin: 8px 0px;
    display: flex;
    flex-direction: row;
}